@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uwe39x');
  src:  url('fonts/icomoon.eot?uwe39x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uwe39x') format('truetype'),
    url('fonts/icomoon.woff?uwe39x') format('woff'),
    url('fonts/icomoon.svg?uwe39x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
